{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <center><h2>Nuestros Productos</h2></center>
    <br>
    <div class="products">
        <!-- Productos aquí -->
        <div class="product">
            <img src="producto1.jpg" alt="Producto 1">
            <h3>Producto 1</h3>
            <p>Precio: $20.00</p>
        </div>
        <div class="product">
            <img src="producto2.jpg" alt="Producto 2">
            <h3>Producto 2</h3>
            <p>Precio: $25.00</p>
        </div>
        <div class="product">
            <img src="producto3.jpg" alt="Producto 3">
            <h3>Producto 3</h3>
            <p>Precio: $30.00</p>
        </div>
        <div class="product">
            <img src="producto3.jpg" alt="Producto 3">
            <h3>Producto 3</h3>
            <p>Precio: $30.00</p>
        </div>
        <div class="product">
            <img src="producto3.jpg" alt="Producto 3">
            <h3>Producto 3</h3>
            <p>Precio: $30.00</p>
        </div>
        <div class="product">
            <img src="producto3.jpg" alt="Producto 3">
            <h3>Producto 3</h3>
            <p>Precio: $30.00</p>
        </div>
        <!-- Agrega más productos aquí -->
    </div>
</div>

{% endblock %}