{% extends 'base/base.html' %}
{% block title %} Reporte de facturas {% endblock %}

{% block content %}

    <h2>Reporte de Facturas</h2>
    <p>Mostrando facturas desde {{ fecha_inicio }} hasta {{ fecha_fin }}</p>

    {% if facturas %}
        <div class="col-sm-3 col-md-7 col-lg-8 col-xl-9">
            <div class="table-responsive py-1">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Producto</th>
                            <th>Codigo</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for f in facturas %}
                            <tr>
                                <td>{{ f.fecha_factura }}</td>
                                <td>{{ f.nombre_producto }}</td>
                                <td>{{ f.codigo_factura }}</td>
                                <td>{{ f.monto_producto }}</td>
                                <td>{{ f.precio_producto }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>No hay facturas en el rango de fechas seleccionado.</p>

        {% endif %}
{% endblock %}